.form-group{   
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    } 
    
    .dropdown-menu {
        overflow: scroll;
        max-height:50vh;
        cursor: pointer;

        .dropdown-item {
            border-radius: 0.25rem;

            i{
                vertical-align: -3px;
            }

            &.selected, &:active {
            color: #fff !important;
            background-color: #007bff;

                .text-muted {
                    color: #fff !important;
                }
            }

            &.search{
                background-color: #fff !important;

                &::before {
                    content: '\1F50D';
                }

                input:focus {
                    box-shadow: none;
                }
            }
        }
    }
}