$countries: USD, GBP, EUR, PLN, CHF, NOK, SEK, DKK, HUF, GE, RON, TRY, CZK, BGN, AUD, CAD,
            HKD, INR, MYR, NZD, PHP, SGD, BRL, AE, CO, CNY, NG, PK, THB, MXN, ZAR, JPY,
            MA, CL, UA, RUB, IDR, KRW, LK, VN, BD, NP;
            
$y-pos:0px;

@each $country in $countries {
    .icon-#{$country} {
        background:no-repeat url('../../assets/img/flags.png');
        background-position: 0px $y-pos;
		background-size: cover;
		width: 24px;
		height: 16px;
    }
    $y-pos : $y-pos - 16
}